@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/peba9qoUFrLz1OT0H-PYjALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPsDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}

@font-face {
  font-family: 'Meta Pro';
  font-style: normal;
  font-weight: 700;
  src: local('MetaPro Bold'), local('MetaPro-Bold'), url(../fonts/metapro-bold.otf) format('opentype');
}